<html>
  <head>
    <title>Problem Information</title>
    <%- include head.ejs %>
    <link rel="stylesheet" type="text/css" href="/static/css/judge-result.css">
    <script src="/static/js/judge-result.js"></script>
  </head>
  <body>
    <script>var page=<%=page%></script>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Judge</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="/problems">Problems</a></li>
            <li class="active"><a href="/result">Submits</a></li>
            <li><a href="/rank">User Rank</a></li>
            <li><a href="#">Contests</a></li>
          </ul>
          <%- include topbar-right.ejs %>
        </div>
      </div>
    </nav>
    <div class="container" id="div-content">
      <div class="row">
        <table class="table table-striped">
          <thead>
            <tr>
              <th><%=__("num")%></th>
              <th>><%=__("problemID")%></th>
              <th>><%=__("name")%></th>
              <th>><%=__("language")%></th>
              <th>><%=__("usedTime")%></th>
              <th>><%=__("usedMem")%></th>
              <th>><%=__("result")%></th>
              <th class="col-time">><%=__("submitCount")%></th>
            </tr>
          </thead>
          <tbody>
            <% var messages=[__("queued"),__("compiling"),__("judging"),__("compileError"),__("runtimeError"),__("memoryExceeded"),__("wrongAnswer"),__("timeExceeded"),__("outputExceeded"),__("systemError"),__("accepted")],
                   class_types=['label-default','label-primary','label-primary','label-warning','label-warning','label-warning','label-danger','label-danger','label-danger','label-warning','label-success'];%>
            <% for(var i=0;i<submits.length;i++) { %>
              <tr>
                <td><%=submits[i].submit_id%></td>
                <td><a href=<%="/problems/"+submits[i].problem_id%>><%=submits[i].problem_id%></a></td>
                <td><%=submits[i].submit_user_name%></td>
                <td><%=lang[submits[i].lang].name%></td>
                <td><%=submits[i].used_time%></td>
                <td><%=submits[i].used_memory%></td>
                <td class="label-result align-middle"><a style="text-decoration: none" href=<%="/result/detail/"+submits[i].submit_id%> class="<%="label "+class_types[submits[i].result]%>"><%= messages[submits[i].result] %></a></td>
                <td class="col-time" data-toggle="tooltip" data-placement="left" title="<%=submits[i].submit_time%>"><%=submits[i].submit_time_text%></td>
              </tr>
            <% } %>
          </tbody>
        </table>
      </div>
      <div id="div-pages" class="row">
        <div class="btn-group" role="group" aria-label="...">
          <button type="button" class="btn btn-default" id="btn-prevpage">><%=__("prev")%></button>
          <button type="button" class="btn btn-default">><%=__("pageText",page)%></button>
          <button type="button" class="btn btn-default" id="btn-nextpage">><%=__("next")%></button>
        </div>
      </div>
    </div>
  </body>
</html>
