<html>
  <head>
    <title>Problem Information</title>
    <%- include head.ejs %>
    <link rel="stylesheet" type="text/css" href="/static/css/problem-list.css">
    <script src="/static/js/problem-list.js"></script>
  </head>
  <body>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Judge</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/problems"><%=__("problems")%></a></li>
            <li><a href="/result"><%=__("submitHistory")%></a></li>
            <li><a href="/rank"><%=__("rank")%></a></li>
            <li><a href="#"><%=__("contests")%></a></li>
          </ul>
          <%- include ./topbar-right.ejs %>
        </div>
      </div>
    </nav>
    <div class="container" id="div-content">
      <script>
        var page=<%= page %>, startid=<%= startid %>;
      </script>
      <div class="row">
        <div class="col-md-3">
          <div class="list-group" id="div-sidebar" data-spy="affix">
            <a class="list-group-item active" href="#">Problems</a>
            <a class="list-group-item" href="#">Level 1</a>
            <a class="list-group-item" href="#">Level 2</a>
            <a class="list-group-item" href="#">Level 3</a>
        	</div>
    		</div>
        <div class="col-md-9">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>#</th>
                <th><%=__("problemName")%></th>
                <th><%=__("acceptCount")%></th>
                <th><%=__("submitCount")%></th>
                <th><%=__("acRate")%></th>
              </tr>
            </thead>
            <tbody>
              <% for(var i=0;i<problems.length;i++) { %>
                <tr>
                  <td><%=problems[i].id%></td>
                  <td><a href=<%= "/problems/"+problems[i].id %>><%=problems[i].title%></a></td>
                  <td><%=problems[i].accept_count%></td>
                  <td><%=problems[i].submit_count%></td>
                  <td>
                    <%if(problems[i].submit_count>0) {%>
                       <%=((problems[i].accept_count*100)/problems[i].submit_count).toFixed(0)+"%" %>
                    <%} else {%>
                      No Submits
                    <%}%>
                  </td>
                </tr>
              <% } %>
            </tbody>
          </table>
          <div id="div-pages" class="row">
            <div class="btn-group" role="group" aria-label="...">
              <button type="button" class="btn btn-default" id="btn-prevpage"><%=__("prev")%></button>
              <button type="button" class="btn btn-default"><%=__("pageText",page)%></button>
              <button type="button" class="btn btn-default" id="btn-nextpage"><%=__("next")%></button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%- include footer.ejs %>
  </body>
</html>
