<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Problem Information</title>
    <!--<script type="text/javascript" src="/static/js/tools.js"></script>-->
    <script
		  src="https://code.jquery.com/jquery-3.1.1.min.js"
		  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
		  crossorigin="anonymous">
    </script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
      integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
      crossorigin="anonymous">
    </script>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/clipboard.js/1.5.16/clipboard.min.js"></script>
    <script src="/static/js/ace-min/ace.js" type="text/javascript" charset="utf-8"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/auth/login.css">
    <script src="/static/js/auth/login.js"></script>
  </head>
  <body>
    <script>
      <% if(ret===undefined) {}
      else {%>
        var returnUrl=<%=JSON.stringify(ret)%>;
      <%}%>
    </script>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Judge</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="/problems"><%=__("problems")%></a></li>
            <li><a href="/result"><%=__("submits")%></a></li>
            <li><a href="/rank"><%=__("rank")%></a></li>
            <li><a href="#"><%=__("contests")%></a></li>
          </ul>
          <%- include ./../topbar-right.ejs %>
        </div>
      </div>
    </nav>
    <div class="container" id="div-content">
      <div class="row" id="div-spacer-top">
      </div>
    </div>
    <% if(typeof myid=="undefined" || myid==null) { %>
      <div class="container" id="div-login-container">
        <div class="row" id="div-login">
          <form id="form-login">
            <!--action="/auth/login" method="post"-->
            <div class="page-header"><h2><%=__("login")%></h2></div>
            <div id='div-auth-input'>
              <div class="input-group">
                <span class="input-group-addon glyphicon glyphicon-user"></span>
                <input type="text" id="input-id" name="id" class="form-control" placeholder="<%=__("username")%>">
              </div>
              <div class="input-group">
                <span class="input-group-addon glyphicon glyphicon-lock"></span>
                <input type="password" id="input-pw" name="password" class="form-control" placeholder="<%=__("password")%>">
              </div>
              <div id="div-auth-commands">
                <p>
                  <button type="submit" id="btn-login" class="btn btn-default btn-md"><%=__("login")%></button>
                  <button type="button" id="btn-signup" class="btn btn-info btn-md" href="#"><%=__("signup")%></button>
                </p>
                <p>
                  <button type="button" id="btn-iforgot" class="btn btn-link btn-md" href="#"><%=__("iforgot")%></button>
                </p>
              </div>
            </div>
          </form>
        </div>
      </div>
    <% } else { %>
      <div class="container" id="div-login-container">
        <div class="row" id="div-login">
          <div class="page-header"><h2>Already logged in!</h2></div>
        </div>
      </div>
    <% } %>
  </body>
</html>
