<!DOCTYPE html>
<html>
	<head>
		<title><%=directory.name+': '+directory.path%></title>
		<link rel="stylesheet" href="<%=style%>/css/file-manager.css">
		<script
		  src="https://code.jquery.com/jquery-3.1.1.min.js"
		  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
		  crossorigin="anonymous">
		</script>
		<script
			src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.min.js"
			integrity="sha256-jkaBMXLp+mraE29Q0r6gtTniSfPhS1N0R7YcQwdt7nQ="
			crossorigin="anonymous">
		</script>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-contextmenu/2.4.2/jquery.contextMenu.min.css" integrity="sha256-2/jrmGqX2gfTEwggPIGEYYyxya8NqPeiTLGrKFCD0us=" crossorigin="anonymous" />
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-contextmenu/2.4.2/jquery.contextMenu.min.js" integrity="sha256-PdxU1/ZFS1BF+tX01Vr5QqwYU51advTVjRb6yvufIBA=" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-contextmenu/2.4.2/jquery.ui.position.min.js" integrity="sha256-C7HjUf9VdfVJ5Dxet+nW9wK7rKLAhEkEYMjGXsw7FM8=" crossorigin="anonymous"></script>
	</head>
	<body>
		<div id="path">
			<% if (directory.parentUrl) { %>
				<a id="parent" href="<%=directory.parentUrl%>">..</a>
			<% } %>
			<span class="path"><%=directory.path%></span>
			<form id="uploadForm"
          enctype="multipart/form-data"
          action="<%=directory.uploadUrl%>"
          method="post">
				<input id="upload-selector" type="file" name="uploadFiles" multiple/>
			</form>
			<a id="upload-file">upload file</a>
			<a id="new-file">new file</a>
			<a id="return" href="/sudo">return to root</a>
		</div>
		<div id="main">
			<ul class="dir">
				<% directory.children.forEach(function (child) { %>
					<li class="right-menu-child child child-<%=child.type%> type-<%=child.mimeCategory%> subtype-<%=child.mimeSubType%>" data-downloadurl="<%=child.rawUrl%>" data-deleteurl="<%=child.rawUrl.replace(/\/raw\//,'/delete/')%>" data-editurl="<%=child.url%>"><% if (child.type !== 'directory') {%><a href="<%=child.rawUrl%>" class="child-action"></a><% } %><a href="<%=child.url%>"><%=child.name + (child.type === 'file' ? '' : '/')%></a></li>
				<% });%>
			</ul>
		</div>
		<script>
			document.getElementById('new-file').onclick = function () {
			      var filename = prompt('New file:', '');
			      if (filename) {
			        var r = new XMLHttpRequest();
			        r.open('PUT', '<%=directory.rawUrl%>'+'/'+encodeURIComponent(filename));
			        r.onreadystatechange = function () {
			          if (r.readyState !== 4) return;
			          if (r.status < 200 || r.status >= 300) {
			            return alert(r.statusText);
			          }
			          location.reload();
			        };
			        r.send('');
			      }
			  };
		</script>
		<script src="<%=style%>/js/file-manager/directory.js"></script>
		<script src="<%=style%>/js/file-manager/page-drop.js"></script>
		<script>
			pageDrop({
				method: 'PUT',
				url: function (name) {
					return <%=directory.rawUrl%> + '/' + encodeURIComponent(name);
				}
			});
		</script>
	</body>
</html>
