<html>
  <head>
    <title>root@judge: #</title>
    <%- include head.ejs %>
    <script src="//cdn.ckeditor.com/4.6.2/standard/ckeditor.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/sudo/problem-edit.css">
    <script src="/static/js/sudo/problem-edit.js"></script>
  </head>
  <body>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/"><%=__("judgeTitle")%></a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <ul class="nav navbar-nav">
              <li><a href="/sudo"><%=__("menuSudoMain")%></a></li>
              <li class="active"><a href="/sudo/problems"><%=__("menuSudoProblems")%></a></li>
              <li><a href="/sudo/problems/add"><%=__("menuSudoProblemAdd")%></a></li>
              <li><a href="/sudo/cases"><%=__("menuSudoCases")%></a></li>
            </ul>
          </ul>
          <%- include ./../topbar-right.ejs %>
        </div>
      </div>
    </nav>
    <div class="container" id="div-content">
      <%if(found===0) {%>
        <div class="row">
          <div class="col">
            <div class="page-header">
              <h1>Problem not found</h1>
            </div>
          </div>
        </div>
      <%} else {%>
        <script>
          var problem=<%=problem.id%>
        </script>
        <%=JSON.stringify(problem)%>
        <div class="row">
          <div class="col">
            <h4>
              <span class="label label-info"><%= __("problemID")+": "+problem.id+" / "+__("acceptCount")+": "+problem.accept_count+" / "+__("submitCount")+": "+problem.submit_count%>
              <%if(problem.submit_count>0) {%>
                 <%=" ("+((problem.accept_count*100)/problem.submit_count).toFixed(0)+"%)" %>
              <%}%>
              </span>
            </h4>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <button type="button" class="btn btn-default btn-sm" id="btn-submit"><%=__("submit")%></button>
            <button type="button" class="btn btn-danger btn-sm" id="btn-return"><%=__("return")%></button>
          </div>
        </div>
        <div class="row">
          <div class="col">
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="input-group">
              <span class="input-group-addon" id="title-title"><%=__("title")%></span>
              <input type="text" class="form-control" id="input-title" aria-describedby="basic-addon3" value="<%=problem.title%>">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="input-group">
              <span class="input-group-addon" id="title-memory"><%=__("memoryLimit")%> (MB)</span>
              <input type="text" class="form-control" id="input-memory" aria-describedby="basic-addon3" value="<%=problem.memory_limit%>">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="input-group">
              <span class="input-group-addon" id="title-time"><%=__("timeLimit")%> (s)</span>
              <input type="text" class="form-control" id="input-time" aria-describedby="basic-addon3" value="<%=problem.time_limit%>">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="input-group">
              <span class="input-group-addon" id="title-time"><%=__("source")%></span>
              <input type="text" class="form-control" id="input-source" aria-describedby="basic-addon3" value="<%=problem.source%>">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="input-group">
              <span class="input-group-addon" id="title-sample-in"><%=__("input")%></span>
              <input type="text" class="form-control" id="input-sample-in" aria-describedby="basic-addon3" value="<%=problem.sample_input%>">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="input-group">
              <span class="input-group-addon" id="title-sample-out"><%=__("output")%></span>
              <input type="text" class="form-control" id="input-sample-out" aria-describedby="basic-addon3" value="<%=problem.sample_output%>">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title"><%=__("description")%></h3>
              </div>
              <div class="panel-body">
                <textarea name="descEditor" id="editor-desc"><%-problem.description%></textarea>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title"><%=__("input")%></h3>
              </div>
              <div class="panel-body">
                <textarea name="inputEditor" id="editor-input"><%-problem.input_desc%></textarea>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title"><%=__("output")%></h3>
              </div>
              <div class="panel-body">
                <textarea name="outputEditor" id="editor-output"><%-problem.output_desc%></textarea>
              </div>
            </div>
          </div>
        </div>
      <%}%>
    </div>
    <%- include ./../footer.ejs %>
  </body>
</html>
