<html>
  <head>
    <title>root@judge: #</title>
    <%- include head.ejs %>
    <link rel="stylesheet" type="text/css" href="/static/css/sudo/problems.css">
    <script src="/static/js/sudo/problems.js"></script>
  </head>
  <body>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/"><%=__("judgeTitle")%></a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <ul class="nav navbar-nav">
              <li><a href="/sudo"><%=__("menuSudoMain")%></a></li>
              <li class="active"><a href="/sudo/problems"><%=__("menuSudoProblems")%></a></li>
              <li><a href="/sudo/problems/add"><%=__("menuSudoProblemAdd")%></a></li>
              <li><a href="/sudo/cases"><%=__("menuSudoCases")%></a></li>
            </ul>
          </ul>
          <%- include ./../topbar-right.ejs %>
        </div>
      </div>
    </nav>
    <div class="container" id="div-content">
      <script>
        var page=<%= page %>, startid=<%= startid %>;
      </script>
      <div class="row">
        <div class="col">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>#</th>
                <th><%=__("problemName")%></th>
                <th><%=__("acceptCount")%></th>
                <th><%=__("submitCount")%></th>
                <th><%=__("acRate")%></th>
                <th><%=__("sudoActions")%></th>
              </tr>
            </thead>
            <tbody>
              <% for(var i=0;i<problems.length;i++) { %>
                <tr>
                  <td><%=problems[i].id%></td>
                  <td><a href=<%= "/problems/"+problems[i].id %>><%=problems[i].title%></a></td>
                  <td><%=problems[i].accept_count%></td>
                  <td><%=problems[i].submit_count%></td>
                  <td>
                    <%if(problems[i].submit_count>0) {%>
                       <%=((problems[i].accept_count*100)/problems[i].submit_count).toFixed(0)+"%" %>
                    <%} else {%>
                      No Submits
                    <%}%>
                  </td>
                  <td>
                    <button type="button" class="btn btn-sm btn-normal" id="btn-problemEdit" onclick="location.href='<%="/sudo/problems/edit/"+problems[i].id%>'"><%=__("sudoProblemEdit")%></button>
                    <button type="button" class="btn btn-sm btn-normal" id="btn-problemCases" onclick="location.href='<%="/sudo/cases/browse/"+problems[i].id%>'"><%=__("sudoProblemViewCases")%></a></button>
                    <button type="button" class="btn btn-sm btn-danger" id="btn-problemDelete"><%=__("sudoProblemDelete")%></button>
                    <button type="button" class="btn btn-sm btn-danger" id="btn-problemCountUpdate" onclick="location.href='<%="/sudo/updateCount/"+problems[i].id+'?return='%>'+location.href"><%=__("sudoProblemCountUpdate")%></button>
                  </td>
                </tr>
              <% } %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <%- include ./../footer.ejs %>
  </body>
</html>
